# local package
# -e .

# external requirements
# click
torch
Sphinx
coverage
# awscli
flake8
# python-dotenv>=0.5.1
langchain==0.0.235
huggingface_hub
datasets # This gives problems to install all the requirements
apache-beam
tiktoken
pinecone-client==2.2.2


#For parser
docx
python-docx
unstructured

#Streamlit app
# streamlit>=1.22 FOR FILES CONNECTION
hugchat
streamlit-chat
streamlit-extras

##Special dependency
protobuf==3.20.3

sentence_transformers
transformers
openai==0.27.8

#Parse cpu
pypdf
faiss-cpu
jq

# Cohere
cohere==4.12.0

pyairtable==1.0.0rc3
streamlit==1.7.0 #To use streamlit connections we need >= 1.22.0
debugpy==1.3.0
pycryptodome==3.10.1
python-dotenv==0.19.0
extra-streamlit-components==0.1.53
altair==4
click==8
pre-commit

#Streamlit files connection
# git+https://github.com/streamlit/files-connection
# s3fs
# AWS s3
boto3
Office365-REST-Python-Client==2.4.2

## Utils
opencv-python
tomli


xformers

## torch dependencies
torch
torchvision
